@import "tailwindcss";

:root {
  /* Neutrals */
  --neutral-black: #0B0B0E;
  --neutral-surface: #15151B;
  --neutral-white: #F5F5F7;
  --neutral-gray: #B0B0B8;

  /* Purple Theme */
  --primary-purple: #450693;
  --accent-purple: #7B2FFF;
  --gradient-purple: #300064;

  /* Blue Theme */
  --primary-blue: #0046FF;
  --accent-blue: #5A8CFF;
  --gradient-blue: #002C99;

  /* CTA */
  --cta: #00FFD1;
  --cta-hover: #00CBAA;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Neutrals */
    --neutral-black: #0B0B0E;
    --neutral-surface: #15151B;
    --neutral-white: #F5F5F7;
    --neutral-gray: #B0B0B8;

    /* Purple Theme */
    --primary-purple: #450693;
    --accent-purple: #7B2FFF;
    --gradient-purple: #300064;

    /* Blue Theme */
    --primary-blue: #0046FF;
    --accent-blue: #5A8CFF;
    --gradient-blue: #002C99;

    /* CTA */
    --cta: #00FFD1;
    --cta-hover: #00CBAA;
  }
}

@theme {

  /* Colors */
  --color-primary-purple: var(--primary-pruple);
  --color-primary-blue: var(--primary-blue);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  /* Background-Images */
  /* --background-image-hero: url('/images/hero.jpg'); */
  --background-image-radial: radial-gradient(circle, #fff, #ccc);
  
  /* Shadow */
  --shadow-soft: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* Z-index */
  --z-top: 9999;

  /* Breakpoints */
  /* --breakpoint-sm: 640px;
  --breakpoint-lg: 1024px; */
  
  /* Fonts */
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Poppins', sans-serif;

  /* Animations (KeyFrames)*/
  --animate-fade-in: fadeIn 0.5s ease-in-out;
}
/* KeyFrames For @theme config */
@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

body {
  background: var(--primary);
  color: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
}