@import "tailwindcss";

/* Default (light mode) */
:root {
  /* Neutrals */
  --neutral-black: #0B0B0E;
  --neutral-surface: #15151B;
  --neutral-white: #F5F5F7;
  --neutral-gray: #B0B0B8;

  /* Purple Theme */
  --primary-purple: rgb(69, 6, 147);
  --accent-purple: #7B2FFF;
  --gradient-purple: rgb(48, 0, 100);

  /* Blue Theme */
  --primary-blue: rgb(0, 70, 255);
  --accent-blue: #5A8CFF;
  --gradient-blue: rgb(0, 44, 153);

  /* CTA */
  --cta: #00FFD1;
  --cta-hover: #00CBAA;
}

/* System preference — used only if no manual override */
@media (prefers-color-scheme: dark) {
  :root {
    /* Neutrals */
    --neutral-black: #0B0B0E;
    --neutral-surface: #15151B;
    --neutral-white: #F5F5F7;
    --neutral-gray: #B0B0B8;

    /* Purple Theme */
    --primary-purple: #450693;
    --accent-purple: #7B2FFF;
    --gradient-purple: #300064;

    /* Blue Theme */
    --primary-blue: #0046FF;
    --accent-blue: #5A8CFF;
    --gradient-blue: #002C99;

    /* CTA */
    --cta: #00FFD1;
    --cta-hover: #00CBAA;
  }
}

/* Manual override — always wins visually */
:root.dark{
  /* Neutrals */
    --neutral-black: #F5F5F7;
    --neutral-surface: #B0B0B8;
    --neutral-white: #0B0B0E;
    --neutral-gray: #15151B;

    /* Purple Theme */
    --primary-purple: #450693;
    --accent-purple: #7B2FFF;
    --gradient-purple: #300064;

    /* Blue Theme */
    --primary-blue: #0046FF;
    --accent-blue: #5A8CFF;
    --gradient-blue: #002C99;

    /* CTA */
    --cta: #00FFD1;
    --cta-hover: #00CBAA;
}

@theme {

  /* Colors */
  --color-neutral-black: var(--neutral-black);
  --color-neutral-surface: var(--neutral-surface);
  --color-neutral-white: var(--neutral-white);
  --color-neutral-gray: var(--neutral-gray);
  
  --color-primary-purple: var(--primary-purple);
  --color-accent-purple: var(--accent-purple);
  --color-gradient-purple: var(--gradient-purple);
  
  --color-primary-blue: var(--primary-blue);
  --color-accent-blue: var(--accent-blue);
  --color-gradient-blue: var(--gradient-blue);

  --color-cta: var(--cta);
  --color-cta-hover: var(--cta-hover);
  
  /* Background-Images */
  /* --background-image-hero: url('/images/hero.jpg'); */
  --background-image-radial: radial-gradient(circle, #fff, #ccc);
  
  /* Shadow */
  --shadow-soft: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* Z-index */
  --z-top: 9999;

  /* Breakpoints */
  /* --breakpoint-sm: 640px;
  --breakpoint-lg: 1024px; */
  
  /* Fonts */
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Poppins', sans-serif;

  /* Animations (KeyFrames)*/
  --animate-fade-in: fadeIn 0.5s ease-in-out;

  --animate-rotatey-repeat: rotateYRepeat 3s ease-in-out infinite;

}
/* KeyFrames For @theme config */
@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes rotateYRepeat {
  0% { }
  100% { transform: rotateY(360deg); }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}